.myTable{
    /* position: relative !important; */
    display: block;
    /* height: 78vh !important; */
    width: 100% !important;
    overflow-y: auto;
    table-layout: auto;
    margin: 0 auto !important;
}
.myTable tbody tr:hover{
    background: yellow;
}

.tableHeader tr {
    position: sticky !important;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 99;
}
.spinner{
    font-size: 20px;
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%; 
   
}